<h2>Current Members</h2>
<table class="members">
  <th>Name</th>
  <th>Lifetime Value</th>
  <% @members.each do |member| %>
    <tr class="subscriber">
      <td class="name"><%= member.name %></td>
      <td class="value"><%= member.value %></td>
    </tr>
  <% end %>
</table>